<nav class="navbar navbar-toggleable-md navbar-light bg-faded"  style="background-color: #008020;">
  <a class="navbar-brand" href="#" style="color:white;">My Recipe</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" style="color:white;" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white;" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " style="color:white;" href="#">Disabled</a>
      </li>
    </ul>
    <input class="form-control" style="width:250px;" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</nav>